<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration"
             type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2" >
    <session-factory>
      <property name="connection.provider">
        NHibernate.Connection.DriverConnectionProvider
      </property>
      <!-- Change these to Oracle, Sql2000 etc-->
      <property name="connection.driver_class">
        NHibernate.Driver.NuoDbClientDriver, NHibernate.NuoDB
      </property>
      <property name="dialect">
        NHibernate.Dialect.NuoDbDialect, NHibernate.NuoDB
      </property>
      <!-- Connection string or connection string name -->
      <property name="connection.connection_string">Server=localhost;Database=test; User=dba; Password=goalie</property>
      <!-- web or thread_static-->
      <property name="current_session_context_class">
        thread_static
      </property>
      <!-- Help debugging-->
      <property name="show_sql">
        true
      </property>
    </session-factory>
  </hibernate-configuration>
</configuration>