<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2" >
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.NuoDbClientDriver, NHibernate.NuoDB</property>
      <property name="dialect">NHibernate.Dialect.NuoDbDialect, NHibernate.NuoDB</property>      
      <property name="connection.connection_string">Server=localhost;Database=test; User=dba; Password=goalie</property>
      <property name="current_session_context_class">thread_static</property>
      <property name="show_sql">true</property>
    </session-factory>
  </hibernate-configuration>
</configuration>